body {
    margin:0px
}

.nav-block {
    margin: 1vmin 1vw 1vmin 1vw;
}

.nav-btn {
    background-color: rgb(159, 173, 174);
    border: none;
    font-size: 20px;
}

@media (max-width: 800px){
    .main-nav-btn {
        display: none;
    }
}

.main-nav {
    background-color: gray;
    display: flex;
    padding: 10px 0 10px 2vw;
}

/*============================================*/
/* Slime Animation */
/*============================================*/
@keyframes bounce {
    from{
        transform: translateY(0%);
    }
    20%{
        transform: translateY(-10%) scaleX(0.85);
    }
    60%{
        transform: translateY(8%) scaleX(1.15);
    }
    80%{
        transform: translateY(0%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes happy-particle{
    from{
        opacity: 0;
    }
    50%{
        opacity: 50;
    }
    to{
        opacity: 100;
    }
}

svg.slime:hover .happy{
    animation-name: happy-particle;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

svg.slime:hover{
    animation-name: bounce;
    animation-duration: 0.7s;
    cursor: grab;
}

/* Makes animation repeat on click */
svg.slime:active{
    animation-name: null;
}

/* Default Behavior of what is visible during what time */
svg.slime #Happy-Left-1,
svg.slime #Happy-Left-2,
svg.slime #Happy-Left-3,
svg.slime #Happy-Right-1,
svg.slime #Happy-Right-2,
svg.slime #Closed-Eyes,
svg.slime #Open-Mouth,
svg.slime:hover #Open-Eyes,
svg.slime:hover #Closed-Mouth{
    opacity: 0;
}

svg.slime:hover #Closed-Eyes,
svg.slime:hover #Open-Mouth{
    opacity: 100;
}

/* End of Logo Animation */