/*============================================*/
/* Entire Document */
/*============================================*/

html, body {
    margin: 0;
    height: 100%;
}

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hidden{
    display: none;
}

/* Variables */
:root{
    --first-bg-color: rgb(19, 0, 18);
    --second-bg-color: rgb(66, 66, 66);
    --third-bg-color: rgb(255, 0, 0);
    --fourth-bg-color: rgb(129, 120, 120);
    --fifth-bg-color: rgb(194, 27, 27);
}

/*============================================*/
/* Nav Elements */
/*============================================*/
.top-elements{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition-duration: 0.3s;
    transition-property: transform;
}

.main-nav{
    background: linear-gradient(to left, #eea849, #ff5dd1);
    display: flex;
    flex-direction: row;
    padding: 0 2vw 0 2vw;
    align-items: center;
    margin: 0 0 0 0;
    height: 7em;
    z-index: 2;
    position: relative;
}

.main-nav-btn{
    height: 100%;
}

.nav-block{
    padding: 0 1vw 0 1vw;
}

.nav-btn{
    border-style: none;
    height: 100%;
    background-color: transparent;
    font-size: 1.5rem;
}

.nav-btn:hover{
    cursor: pointer;
}

.main-nav-btn:hover{
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.main-nav-btn:active{
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px){
    .main-nav-btn {
        display: none;
    }
}

@media (min-width: 801px){
    .hamburger {
        display: none;
    }
    .nav-dropdown{
        display: none;
    }
}

.hamburger{
    margin-left: auto;
    background-color: transparent;
    justify-content: center;
}

.hamburger-btn:hover{
    cursor:pointer;
}

.hamburger-btn:active{
    border-radius: 5px;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.15);;
}

ul.nav-dropdown{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(53, 53, 53);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    transform: translateY(-150%);
    transition-duration: 0.3s;
    transition-property: transform;
}

ul.nav-dropdown li{
    margin:0;
    padding: 2.2vh 0 2.2vh 0;
    list-style-type: none;
    font-size: 30px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: inherit;
    color: white;
}

ul.nav-dropdown li:hover {
    background-color: rgb(81, 81, 81);
}

#nav-dropdown-toggle:checked ~ .nav-dropdown{
    transform: translateY(0%);
}

/*============================================*/
/* Slime Animation */
/*============================================*/
@keyframes slime-bounce{
    from{
        transform: translateY(0%);
    }
    20%{
        transform: translateY(-15%) scaleX(0.80);
    }
    60%{
        transform: translateY(8%) scaleX(1.15);
    }
    80%{
        transform: translateY(0%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes shadow-bounce{
    20%{
        transform: scaleX(0.75) scaleY(0.95);
    }
    60%{
        transform: scaleX(1.15) scaleY(1.10);
    }
    80%{
        transform: scale(1);
    }
}

@keyframes happy-particle{
    from{
        opacity: 0;
        transform: translateY(8%);
    }
    50%{
        opacity: 60;
    }
    to{
        opacity: 100;
        transform: translateY(-1%);
    }
}

div.slime-image{
    position: relative;
    height: 78px;
    width: 130px;
    padding: 1.5vh 0 1.5vh 0;
}

div.slime-image:hover svg.slime-shadow{
    animation-name: shadow-bounce;
    animation-duration: 0.7s;
}

svg.slime{
    position: absolute;
}

svg.slime-shadow{
    position: absolute;
}

div.slime-image:hover svg.slime .happy{
    animation-name: happy-particle;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

div.slime-image:hover svg.slime{
    animation-name: slime-bounce;
    animation-duration: 0.7s;
    cursor: grab;
}

/* Hacky method that makes animation repeat on click */
div.slime-image:active svg.slime,
div.slime-image:active svg.slime-shadow{
    animation-name: none;
    border: none;
}

/* Default Opacity Values */
svg.slime .happy,
svg.slime #Closed-Eyes,
svg.slime #Open-Mouth,
svg.slime:hover #Open-Eyes,
svg.slime:hover #Closed-Mouth{
    opacity: 0;
}

svg.slime:hover #Closed-Eyes,
svg.slime:hover #Open-Mouth{
    opacity: 100;
}

/*============================================*/
/* Temporary Section Formatting Area */
/*============================================*/



.skills-section{
    background-color: var(--third-bg-color);
    height: 40vh;
}

.projects-section{
    background-color: var(--fourth-bg-color);
    height: 40vh;
}

.footer{
    background-color: var(--fifth-bg-color);
    height: 40vh;
}

/*============================================*/
/* Landscape Section */
/*============================================*/
.landscape-section{
    background-color: var(--first-bg-color);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

/*============================================*/
/* About Me Section */
/*============================================*/

.about-me-section{
    background-color: var(--second-bg-color);
    padding: 3vh 2vw 3vh 2vw;
    height: 30rem;
    display:flex;
    flex-direction: row;
}

.about-me-description-card{
    padding: 1rem;
    background-color: #141414;
    display: flex;
    flex-grow: 2;
}

.self-portrait{
    border-radius: 100%;
    aspect-ratio: 1;
}

.luci-sprite{
    flex-grow: 1;
}