@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    padding: 0;
    margin: 0;
    display: grid;
}

.main-pane {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #fffbed;
}

.main-menu {
    font-size: xx-large;
    font-size: x-large;
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    position: relative;
    top: 20vh;
    left: 0;
    flex-direction: column;
    width: 40rem;
    max-width: 70vw;
    position: relative;
    z-index: 1;
}

.main-menu-title {
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.main-menu .main-menu-button:nth-of-type(1) {
    width: 62.5%;
}

.main-menu .main-menu-button:nth-of-type(2) {
    width: 75%;
}

.main-menu .main-menu-button:nth-of-type(3) {
    width: 87.5%;
}

.main-menu .main-menu-button:nth-of-type(4) {
    width: 100%;
}

.main-menu-button {
    display: flex;
    background: none;
    flex-direction: row;
    justify-items: left;
    border: none;
    margin-bottom: 0.3rem;
    left: 0;
    transform: translate(-2rem, 0);
    padding: 0;
    transition: transform 0.2s;
}

.main-menu-button div {
    background-color: #5d5d5d;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0.5rem 0rem 0.5rem 3rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 4px;
    color: aliceblue;
    font: inherit;
    font-size: 2rem;
}

.main-menu-button::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: rgb(255, 166, 0);
    padding: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 4px;
    transition: width 0.5s, left 0.5s;
    transition-timing-function: ease-out;
}

.main-menu-button:hover {
    cursor: pointer;
    transform: translate(0, 0);
}

.main-menu-button:hover::after {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-menu-button:hover div {
    background-color: #676054;
}
