body {
    padding: 0;
    margin: 0;
}

.main-menu {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

.main-menu-button {
    background-color: #0002;
    font-size: x-large;
    justify-items: left;
    border: none;
    padding: 0.5rem 0rem 0.5rem 2.5rem;
    margin-bottom: 0.2rem;
    left: 0;
    transform: translate(-2rem, 0);
    transition: transform 0.2s;
}

.main-menu-button:hover {
    background-color: #0005;
    cursor: pointer;
    transform: translate(0, 0);
}
